html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background-image: url("96622.jpg");
  color: #777;}



img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #FFF;
 }


a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #1293EE;}

a:hover
{ text-decoration: none;}






#header
{ background: #025588;
  height: 80px;}

#logo
{ width: 825px;
  position: absolute;
  height: 70px;
  background: #025587 url(logo.png) no-repeat;}

#logo #logo_text 
{
	position: absolute;
	top: -15px;
	left: 60px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #80FFFF;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#line
{
	  font-family: Georgia, serif;
font-size: 32px;
letter-spacing: 2.4px;
word-spacing: 1.2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

	
	
	}


#menubar
{ position:absolute;
	top: 0px;
	left: 500px;
	width: 860px;
  height: 72px;
  padding: 0;
  background: #29415D url(menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #1C2C3E url(menu_select.png) repeat-x;}



#footer
{ 	position:fixed;
	left:00px;
	top:620px;
	width:1370px;	
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 30px;
  padding: 10px 0 5px 0;
  text-align: center; 
  background: #29425E;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.2em;}



#formcontent
{ text-align:center;
margin-left:350px;
  width: 595px;
  padding: 0;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}


.form_settings input, .form_settings textarea
{ padding: 5px; 

  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #263C56; 
  color: #FFF;}
.form_settings  dropdown, .form_settings select
{height:20px; 
font: 100% arial; 
width: 299px;}
.form_settings textarea, .form_settings select
{height:60px; 
font: 100% arial; 
width: 299px;}
















